*.bak

# Idea and its java version file
.idea
java-version

# https://community.mendix.com/link/space/app-development/questions/141059
/theme-cache/web/theme.compiled.css
/theme-cache/web/theme.compiled.css.map

#
# The following was added while migrating this app from SVN to Git
#
/**/node_modules/
!/javascriptsource/**/node_modules/
/*.launch
/.settings
/.classpath
/.mendix-cache/
/.project
/deployment/
/javasource/*/proxies/
/javasource/system/
/modeler-merge-marker
/nativemobile/builds
/packages/
/project-settings.user.json
/releases/
*.mpr.lock
*.mpr.bak
/vendorlib/temp/
.DS_Store

# /
/modeler-merge-marker
/.mendix-cache
/*.launch
/.project
/.classpath
/deployment
/project-settings.user.json

# /javasource/
/javasource/system
/ciphixtoolscrash.mpr.bak
/ciphixtoolscrash.mpr.lock
/nativemobile/builds/
/.svn/
